body {
  padding: 20px;
  color: black;
  min-width: 32em;
  min-height: 5em;
}


#textLine{
  white-space: nowrap;
}


#status{
  font-size: 11px;
  color: grey;
}


#greenTick{
  color: green;
  font-size: medium;
  font-weight: bold;
}


#redAlert{
  color: red;
  font-size: medium;
  font-weight: bold;
}


#pendingCircle{
  content:url("/img/sending.gif");
  width: 28px;
}


#footer{
  position: absolute;
  bottom: 0;
  right: 0;
}


#footer a{
  padding-bottom: 1em;
  display: inline-block;
  padding-right: 1em;
}


#teams{
  display: none;
  max-width: 80%
}


#teamSelect{
  width: 50%
}


#dateDiv{
  display: none;
  margin-top: 1em;
  /*text-align: right;*/
}


#doneText{
  height: 15px;
  width: calc(100% - 4em);
}


#done_date{
  height: 15px;
  max-width: 11em;
  padding: 1px;
}


#teamSelectorDiv{
  display: none;
}


#sendDiv{
  display: none;
  position: relative;
  top: -21px;
  right: 4em;
  text-align: right;
}


.hidden{
  display: none;
}


.sendingState{
  /*color: gray;*/
  opacity: 0.7;
}


.specialUnderline{
  text-decoration: none;
  border-bottom: 1px dotted grey;
  cursor: pointer;
}
